<div class="experience">
    <div class="left-column">
      <h1>Experience</h1>
      <p>
        I've been doing web development for more than 10 years now, and I'm always
        eager to learn more in this fast-paced industry.
      </p>
      <h3>Some technologies I've worked with:</h3>
      <ul class="technology-list">
        <li>
          <img src="/assets/images/dotnet.png" alt=".Net Framework" />
        </li>
        <li>
          <img src="/assets/images/angular.png" alt="Angular" />
        </li>
        <li>
          <img src="/assets/images/azure.png" alt="Azure" />
        </li>
        <li>
            <img src="/assets/images/postgre.png" alt="PostgreSQL" />
        </li>
        <li>
            <img src="/assets/images/mssql-server.png" alt="MS SQL Server" />
        </li>
        <li>
          <img src="/assets/images/git.png" alt="Git" />
        </li>
        <li>
          <img src="/assets/images/docker.png" alt="Docker" />
        </li>
        <li>
            <img src="/assets/images/python.png" alt="Python" />
        </li>
      </ul>
      
    </div>
    <div class="right-column">
      <h3>Where I've Worked:</h3>
      <ul class="company-list">
        <li>
          <img src="/assets/images/ekitabu.png" alt="eKitabu" />
        </li>
        <li>
          <img src="/assets/images/microsoft.png" alt="Microsoft" />
        </li>
        <li>
          <img src="/assets/images/iconnect.png" alt="iConnect" />
        </li>
      </ul>
    </div>
  </div>
  