ol.timeline {
  list-style-type: none;
  padding-left: 33px;
  margin-left: 300px;
  box-shadow: -2px 0 0 0 #32681d; /* Border left */
}



.timeline h3 {
  margin-bottom: 0;
}

ol.timeline > li {
  position: relative;
  margin-top: 1em;
  max-width: 500px;
}

ol.timeline > li.company {
  margin-top: 3em;
}

ol.timeline > li.current.company:before {
  content: "";
  position: absolute;
  left: -45px;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 2px #32681d, 0 4px 0 0 #fff;
}

ol.timeline > li.current.company:after {
  content: "";
  position: absolute;
  left: -42px;
  top: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #32681d;
}

ol.timeline > li.company:before {
  content: "";
  position: absolute;
  left: -42px;
  top: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #32681d;
  box-shadow: 0 0 0 5px #fff;
}

ol.timeline > li.role:before {
  content: "";
  position: absolute;
  left: -39px;
  top: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #32681d;
  box-shadow: 0 0 0 2px #fff;
}

.timeline .title {
  position: absolute;
  left: -300px;
  top: 0;
  width: 250px;
  text-align: right;
}
