<div class="what-i-do">
    <h1 class="section-title">What I Do</h1>
    <div class="workflow-container">
        <div class="workflow-item">
            <div class="circle" id="design">
                <a routerLink="/design">Design</a>
            </div>
            <p>Building user-friendly interfaces with technologies like Angular and .NET to enhance the user experience.</p>
        </div>
        <div class="workflow-item">
            <div class="circle" id="build">
                <a routerLink="/build">Build</a>
            </div>
            <p>Developing robust backend systems using .NET, C#, and PostgreSQL to ensure reliability and performance.</p>
        </div>
        <div class="workflow-item">
            <div class="circle" id="deploy">
                <a routerLink="/deploy">Deploy</a>
            </div>
            <p>Deploying scalable applications to Azure, automating server provisioning with HashiCorp Terraform.</p>
        </div>
        <div class="workflow-item">
            <div class="circle" id="improve">
                <a routerLink="/improve">Improve</a>
            </div>
            <p>Optimizing applications by monitoring performance, adding features, and iterating based on user feedback.</p>
        </div>
    </div>
</div>
