/* app.component.css */

.container {
  display: flex;
  height: 100vh; /* ensure it spans the full height of the viewport */
}

/* --- Sidebar (Left) --- */
.sidebar {
  width: 35vw;
  position: sticky;
  top: 0; 
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
  margin-left: 50px;
}

.sidebar .profile {
  margin-bottom: 2rem;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 0.5rem 0;
  cursor: pointer;
}

.sidebar nav ul li.active {
  font-weight: bold;
  color: #007bff;
}

.email-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-contact img {
  width: 16px;
  height: 16px;
}

.email-contact p {
  margin: 0;
  line-height: 1.5; 
}

.resume-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  border: 2px solid wheat;
  border-radius: 5px;
  background-color: transparent;
  color: wheat;
  font-size: 16px;
  cursor: pointer; 
  margin-top: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.resume-button img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.resume-button:hover {
  background-color: wheat;
  color: #fff; 
}

/* --- Main Content (Right) --- */
.main-content {
  flex: 1;
  padding: 1rem 2rem;
  overflow-y: auto; /* main content is scrollable */
}

/* Just for demo spacing */
.section {
  margin: 2rem 0;
}

.sidebar-space{
  height: 10vh;
}

.spotlight {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(0, 0, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: none; 
}

.links-container {
  display: flex;
  justify-content: left; /* Center the links */
  gap: 20px; /* Space between the links */
  margin-top: 20px;
}

.links-container a {
  text-decoration: none;
  text-align: center;
  color: #333;
}

.links-container img {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-radius: 8px; /* Optional: rounded corners */
  transition: transform 0.3s;
}

.links-container img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.links-container span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
}

/* For medium (tablet) screens and below */
@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    height: auto; /* Let content dictate height on smaller screens */
  }

  /* --- Sidebar (Left) --- */
  .sidebar {
    width: 100%;
    position: static;
    top: auto;
    height: auto;
    overflow-y: auto;
    margin-left: 0px;
    padding: 1rem 2rem;
  }

  .sidebar nav ul li {
    margin: 1rem 0;
    cursor: pointer;
  }

  .sidebar-space{
    height: 1vh;
  }

  nav {
    display: none;
  }
}

