<div class="profile">
    <div class="profile-container">
      <div class="banner">
        <p>Click on my face to download my resume</p>
      </div>
      <div class="profile-button">
        <button class="image-button" (click)="openLink()">
          <img 
            src="assets/images/profile.jpg"
            alt="Karam Yaaqba" 
            class="profile-img"
          />
        </button>
      </div>
      <h2>Karam Yaaqba</h2>
      <h3>Software Solution Developer</h3>
      <p>
        With a great passion for building robust, scalable software systems, particularly using .NET technologies, Karam has more than
        10 years of experience in software development, which provided him with a complete view of the System Development Life Cycle (SDLC).
        He has significant experience in the successful delivery of high-performance enterprise applications.
      </p>
    </div>
  </div>
  