<div class="profile">
<img src="https://media.licdn.com/dms/image/v2/D4D03AQHiujIt2s4JtA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1675095714244?e=1739404800&v=beta&t=rdJAMwbfpTFLm58BIYJNTE372-EsuDRjZJLBObbaF2w" alt="it's me Karam Yaaqba" class="profile-img">
<h2>Karam Yaaqba</h2>
<h3>Software Solution Developer</h3>
<p>
    with a great passion for building robust, scalable software systems, particularly using .NET technologies. Karam has more than
10 years of experience in software development, which provided him with a complete view of the System Development Life
Cycle (SDLC). He has significant experience in the successful delivery of high-performance enterprise applications. His
expertise lies in designing and implementing backend services and APIs that transform complex business requirements into
workable, efficient, maintainable, and performance-optimized solutions. Karam has experience working with several Microsoft
and non-Microsoft technologies. He believes in continuous learning, working well only at places where innovation and sharing
of knowledge are thick in the air. Karam is also a professional dedicated to his work; he has hit tight deadlines and worked well
with cross-functional teams to deliver quality software on time.
</p>
</div>